<div class="lista-motos">

  <div *ngFor="let moto of motosFiltradas" class="card-moto">

    <div class="card-img">
      <img [src]="moto.imagenUrl" alt="{{ moto.nombre }}">
    </div>

    <div class="card-body">
      <h3>{{ moto.nombre }}</h3>

      <div class="details">
        <span class="categoria">{{ moto.categoria }}</span>
        <span class="precio">${{ moto.precio | number:'1.0-0' }}</span>
      </div>

      <p class="descripcion">{{ moto.descripcion }}</p>

      <button class="btn-ver">Ver Detalles</button>
    </div>

  </div>

</div>
