/* Fondo general */
body {
  background-color: #121212; /* fondo oscuro */
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.content{
  padding: 140px 40px 60px 40px;
  display: flex;
  gap: 30px;
}

/* Contenedor principal */
.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  background: #1a1a1a;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

/* Títulos */
h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #ff3b3b;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Formularios (crear y edición) */
.form-crear,
form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 25px;
}

input,
select {
  padding: 12px;
  border: none;
  border-bottom: 1px solid #2a2a2a;
  background-color: transparent;
  color: #696969; /* texto blanco */
  transition: border 0.2s, box-shadow 0.2s;
}

input:focus,
select:focus {
  border-color: #ff3b3b;
  box-shadow: 0 0 6px rgba(255, 59, 59, 0.6);
  outline: none;
}

/* Botones generales */
button {
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s, transform 0.1s;
}

button:hover {
  transform: scale(1.01);
}

/* Botón crear */
.btn-delete{
  background-color: #410e0e84;
  color: #d63030;
}

/* Lista */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.item {
  background-color: #1e1e1e;
  padding: 12px 16px;
  margin-bottom: 12px;
  border-radius: 6px;
  gap: 10px;
  transition: background 0.2s;
}

/* Información en columnas */
.info-usuario {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 1fr auto; /* columnas balanceadas */
  gap: 16px;
  align-items: center;
  color: #fff;
}

.info-usuario .col {
  background-color: #2a2a2a;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

/* Botones de acción */
.acciones {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

/* Botón editar */
.btn-edit {
  background-color: #18496984;
  color: #0095ff;
}

/* Botón eliminar */
.btn-delete {
  background-color: #410e0e84;
  color: #e60000;
}

.btn-delete:hover {
  background-color: #410e0e84;
}

/* Botón guardar */
.btn-save {
  background-color: #237c38ac;
  color: #00ff37;
}
