body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.content{
  justify-content: space-between;
  display: flex;
  gap: 0px;
  padding: 140px 40px 60px 40px;
}

/* Contenedor principal */
.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  background: #1a1a1a;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

/* Título */
h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #ff3b3b;
  font-weight: 300;
  letter-spacing: 1px;
}

/* Formulario crear */
.form-crear {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-crear input, .form-crear select{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #353535;
  color: #7e7d7d;
  outline: none;
  padding-top: 12px;
  padding-left: 10px;
}


/* Botones generales */
button {
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s, transform 0.1s;
}

button:hover {
  transform: scale(1.03);
}

/* Botón crear */
.form-crear button {
  background-color: #ff3b3b;
  height: 40px;
  color: #fff;
  font-size: 14px;
}


/* Lista */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.item {
  background-color: #1e1e1e;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  transition:  0.2s ease;
}

/* input de edicion */
.item input{
  width: 220px;
  padding: 10px;
}

/* Inputs y selects */
.item select, .item input {
  border: 1px solid #333;
  border-radius: 6px;
  background-color: #1e1e1e;
  color: #ffffff; /* texto blanco */
}

input::placeholder {
  color: #7e7d7d; /* placeholder más claro */
}

/* Botón ocupa toda la fila */
.form-crear button {
  grid-column: span 2; /* botón se extiende a lo ancho */
  background-color: #410e0e84;
  color: #e60000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

/* Lista de usuarios */
li.item span {
  color: #fff; /* información en blanco */
}

/* Información en columnas */
.info-usuario {
  display: grid;
  grid-template-columns: 2fr 2fr 2.5fr 0fr 1fr ; /* columnas balanceadas */
  gap: 16px;
  align-items: center;
  color: #fff;
}

.info-usuario .col {
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  width: 220px;
}

.edicion{
  display: grid;
  grid-template-columns: 2fr 2fr 2.5fr 0fr 1fr; /* columnas balanceadas */
  gap: 16px;
  align-items: center;
}

.edicion select{
  padding: 10px;
  width: 100px;
}

/* Botón editar */
.btn-edit {
  background-color: #0f435d84;
  color: #007bff;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.btn-edit svg{
  margin: 0;
}

/* Botón eliminar */
.btn-delete {
  background-color: #3f0c0c84;
  color: #e60000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

/* Botón guardar */
.btn-save {
  background-color: #237c38ac;
  color: #17e043;
  font-size: 13px;
  width: 130px;
}

.btn-save:hover {
  background-color: #218838;
}
