
  <h2>Gestión de Usuarios</h2>

  <!-- FORM CREAR -->
  <div class="form-crear">
  <input [(ngModel)]="nuevoUsuario.nombre" placeholder="Nombre" />
  <input [(ngModel)]="nuevoUsuario.email" placeholder="Email" />
  <input [(ngModel)]="nuevoUsuario.password" placeholder="Password" />

  <select [(ngModel)]="nuevoUsuario.rol">
    <option value="ADMIN">ADMIN</option>
    <option value="USER">USER</option>
  </select>

  <button (click)="crearUsuario()">Crear Usuario</button>
</div>


  <!-- LISTA -->
  <ul>
    <li *ngFor="let u of usuarios" class="item">

      <!-- MODO EDICIÓN -->
      <div *ngIf="u.editando; else mostrar">
        <input [(ngModel)]="u.nombre" />
        <input [(ngModel)]="u.email" />
        <input [(ngModel)]="u.password" />

        <select [(ngModel)]="u.rol">
          <option value="ADMIN">ADMIN</option>
          <option value="USER">USER</option>
        </select>

        <button class="btn-save" (click)="guardar(u)">Guardar</button>
      </div>

      <!-- MODO NORMAL -->
      <ng-template #mostrar>
  <div class="info-usuario">
    <div class="col"><strong>{{ u.nombre }}</strong></div>
    <div class="col">{{ u.email }}</div>
    <div class="col">{{ u.rol }}</div>

    <div class="acciones">
      <button class="btn-edit" (click)="editar(u)">Editar</button>
      <button class="btn-delete" (click)="eliminar(u.idUsuario)">Eliminar</button>
    </div>
  </div>
</ng-template>



    </li>
  </ul>

