.card{
  background-color: #080c17;
  border-radius: 13px;
  border: 1.6px solid #202a43;
  width: 460px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.card img{
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  width: 460px;
  height: 330px;
}

.card:hover{ border-color: #e7000b;}

.contenido h3, .contenido p{ margin: 0;}

.contenido{
  padding: 30px 17px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contenido h3{
  font-weight: lighter;
  font-size: 14px;
  color: #e7000b;
}

.modelo{
  font-size: 24px;
  color: white;
}

.precio{
  font-size: 27px;
  color: white;
}

.precio span{
  color: #748191;
  font-size: 14px;
}

.icons{
  display: flex;
  justify-content: space-around;

}

svg{ color: #e7000b;}

.icon1{ text-align: center; padding-bottom: 9px;}

.tituloIcon{
  padding-top: 8px;
  font-size: 15px;
  color: white;
  margin: 0;
}

.subTIcon{
  color: #748191;
  font-size: 12px;
  margin: 0;
}

hr{
  background-color: #182b43;
  border: none;
  height: 1px;
  width: 85%;
}
