<div class="modelos">

  <div class="titulo">
    <h2>Explora Nuestros <span>Modelos</span></h2>
  </div>

  <div class="filtro">
    <div class="side-bar">
      <p><span>|</span> Categorías</p>

      <div class="checkBox">
        <label class="todas">
          <input type="checkbox">
          <span class="check"></span>
          Todas
        </label>

        <label class="deportiva">
          <input type="checkbox">
          <span class="check"></span>
          Deportiva
        </label>

        <label class="cruiser">
          <input type="checkbox">
          <span class="check"></span>
          Cruiser
        </label>

        <label class="naked">
          <input type="checkbox">
          <span class="check"></span>
          Naked
        </label>

        <label class="adventure">
          <input type="checkbox">
          <span class="check"></span>
          Adventure
        </label>

        <label class="touring">
          <input type="checkbox">
          <span class="check"></span>
          Touring
        </label>
      </div>

      <div>
        <p><span>|</span>Rango de Precio</p>
        <input type="range">
      </div>
    </div>
  </div>

</div>
