<div class="modelos">

  <div class="titulo">
    <h2>Explora Nuestros <span>Modelos</span></h2>
  </div>

  <div>
    <div class="filtro">
      <div class="side-bar">
        <p><span>|</span> Categorías</p>

        <div class="checkBox">
          <label class="categoria">
            <!-- Recibe el evento del checkbox (lógica de agregar o quitar categorías) -->
            <input type="checkbox" value="todas" (change)="toggleCategory($event)">
            <span class="check"></span>
            Todas
          </label>

          <label class="categoria">
            <input type="checkbox" value="deportiva" (change)="toggleCategory($event)">
            <span class="check"></span>
            Deportiva
          </label>

          <label class="categoria">
            <input type="checkbox" value="cruiser" (change)="toggleCategory($event)">
            <span class="check"></span>
            Cruiser
          </label>

          <label class="categoria">
            <input type="checkbox" value="naked" (change)="toggleCategory($event)">
            <span class="check"></span>
            Naked
          </label>

          <label class="categoria">
            <input type="checkbox" value="adventure" (change)="toggleCategory($event)">
            <span class="check"></span>
            Adventure
          </label>

          <label class="categoria">
            <input type="checkbox" value="touring" (change)="toggleCategory($event)">
            <span class="check"></span>
            Touring
          </label>
        </div>

  <!---->

        <div class="price-range-seccion">
          <p><span>|</span>Rango de Precio</p>

          <input
            type="range"
            id="minPrice"
            class="price-range"
            min="3000000"
            max="70000000"
            value="3000000"
            (input)="updateMinPrice($event)"
          >

          <input
            type="range"
            id="maxPrice"
            class="price-range"
            min="3000000"
            max="70000000"
            value="70000000"
            (input)="updateMaxPrice($event)"
          >
        </div>

        <div class="price-values">
          <span>${{ minValue | number:'1.0-0' }}</span>
          <span>${{ maxValue | number:'1.0-0' }}</span>
        </div>
      </div>
    </div>

    <div class="lista-motos">
      <div *ngFor="let moto of motosFiltradas" class="card-moto">
        <h3>{{ moto.nombre }}</h3>
        <p>Categoría: {{ moto.categoria }}</p>
        <p>Precio: ${{ moto.precio | number:'1.0-0' }}</p>
      </div>
    </div>

  </div>
</div>
