<app-header></app-header>

<div class="modelos">
  <aside class="side-bar">
    <h3 class="titulo-filtro">Categorías</h3>
    <div class="checkBox">
      <label><input type="checkbox" value="Deportivas" (change)="toggleCategoria($event)"> Deportivas</label>
      <label><input type="checkbox" value="Scrambler" (change)="toggleCategoria($event)"> Scrambler</label>
      <label><input type="checkbox" value="Cruiser" (change)="toggleCategoria($event)"> Cruiser</label>
      <label><input type="checkbox" value="Supermotorad" (change)="toggleCategoria($event)"> Supermotorad</label>
      <label><input type="checkbox" value="Naked" (change)="toggleCategoria($event)"> Naked</label>
      <label><input type="checkbox" value="Doble Propósito" (change)="toggleCategoria($event)"> Doble Propósito</label>
      <label><input type="checkbox" value="Adventure" (change)="toggleCategoria($event)"> Adventure</label>
      <label><input type="checkbox" value="Urbanas" (change)="toggleCategoria($event)"> Urbanas</label>
      <label><input type="checkbox" value="Scooter" (change)="toggleCategoria($event)"> Scooter</label>
    </div>

    <h3 class="titulo-filtro">Rango de Precio</h3>
    <input type="range" min="0" max="80000000" step="1000000" [value]="maxValor" (input)="onPrecioChange($event)">
    <p>Hasta: {{maxValor | number:'1.0-0' }}</p>
  </aside>

  <div class="contenedor-motos">
    <h2 class="titulo">Explora Nuestros <span>Modelos</span></h2>
    <div class="grid-motos">
      <div class="card-moto" *ngFor="let moto of motosFiltradas">

        <div class="card-body">
          <span class="categoria">{{ moto.marca }}</span>
          <h3>{{ moto.nombre }}</h3>
          <p class="precio">${{ moto.precio }}</p>

          <button (click)="abrirModal(moto.idMoto)">Ver detalles</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de "ver detalles"-->
  <div class="overlay" *ngIf="mostrarModal" (click)="cerrarModal()">
    <div class="modal" (click)="$event.stopPropagation()">

      <app-moto-detalle
        [idMoto]="motoSeleccionada">
      </app-moto-detalle>

    </div>
  </div>

</div>

<app-footer></app-footer>
