body{
  font-family: Arial, Helvetica, sans-serif;
}

.section1{
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0,0,0,0)),
  url('/assets/moto2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0  20px 40px ;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content h2, .content p, .content button {
  margin: 0;
}

button{
  width: fit-content;
}

.coleccion{
  background-color: #300204;
  border: 1px solid #e7000b;
  display: flex;
  gap: 6px;
  border-radius: 25px;
  color: #c52d35;
  font-size: 16px;
  padding: 10px 22px;
}

h2{
  font-weight: 300;
  line-height: 80px;
  color: white;
  font-size: 86px;
}

span{
  color: #e7000b;
}

p{
  font-size: 20px;
  width: 35vw;
  color: white;
}

.modelos{
  background-color: #e7000b;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
  border: none;
}

.sub-seccion1{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.sub-seccion1 hr{
  width: 40%;
  height: 2px;
  border: none;
  display: flow-root;
  margin: 0;
  background-color: #1a2330;
}

.botones-line {
  display: flex;
  gap: 55px; 
}

.botones {
  display: flex;
  align-items: center;
  gap: 10px;
}

.botones button {
  background-color: #300204;
  color: #e7000b;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
}

.botones p {
  font-size: 13px;
  font-weight: 200;
  width: auto;
  color: #6b6b6b;
}

.botones strong{
  font-size: 17px;
  color: white;
  margin: auto;
}



.seccion2{
  background-color: #020610;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 24px;
  padding: 70px 0;
}

.seccion2 h2{
  text-align: center;
  font-size: 52px;
}

.seccion2 p{
  width: 100%;
  color: #748191;
  text-align: center;
  font-size: 17px;
}

.seccion2 h2, .seccion2 p{
  margin: 0;
}

.titulo{
  color: #e7000b;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titulo h3{
  font-size: 15px;
}

.titulo hr{
  border: none;
  height: 1px;
  width: 40%;
}

.hr1{background-image: linear-gradient(to left, rgba(231,0,11), rgb(41, 0, 3));}

.hr2{background-image: linear-gradient(to right, rgba(231,0,11), rgb(41, 0, 3));}

.cards{
  display: flex;
  justify-content: space-evenly;
  padding-top: 45px;
}

.button2 button{
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #e7000b;
  border: 1px solid #e7000b;
  text-align: center;
}

.model svg{
  color: #e7000b;
}

.button2{
  display: flex;
  justify-content: center;
}


.seccion3{
  background-color: #000000;
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.seccion3-img{
  border-radius: 12px;
  width: 550px;
  height: auto;
}

.contenido-s2{
  color: white;
}