body{ font-family: Arial, Helvetica, sans-serif;}

.section1{
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0,0,0,0)),
  url('/assets/moto2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0  20px 40px ;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content h2, .content p, .content button {
  margin: 0;
}

button{ width: fit-content;}

.coleccion{
  background-color: #300204;
  border: 1px solid #e7000b;
  display: flex;
  gap: 6px;
  border-radius: 25px;
  color: #c52d35;
  font-size: 16px;
  padding: 10px 22px;
}

h2{
  font-weight: 300;
  line-height: 80px;
  color: white;
  font-size: 86px;
}

span{ color: #e7000b;}

p{
  font-size: 20px;
  width: 35vw;
  color: white;
}

.modelos{
  background-color: #e7000b;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
  border: none;
}

.sub-seccion1{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.sub-seccion1 hr{
  width: 40%;
  height: 2px;
  border: none;
  display: flow-root;
  margin: 0;
  background-color: #1a2330;
}

.botones-line { display: flex; gap: 55px;}

.botones {
  display: flex;
  align-items: center;
  gap: 10px;
}

.botones button {
  background-color: #300204;
  color: #e7000b;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
}

.botones p {
  font-size: 13px;
  font-weight: 200;
  width: auto;
  color: #6b6b6b;
}

.botones strong{
  font-size: 17px;
  color: white;
  margin: auto;
}

.seccion2{
  background-color: #020610;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 24px;
  padding: 70px 0;
}

.seccion2 h2{ text-align: center; font-size: 52px;}

.seccion2 p{
  width: 100%;
  color: #748191;
  text-align: center;
  font-size: 17px;
}

.seccion2 h2, .seccion2 p{margin: 0;}

.titulo{
  color: #e7000b;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titulo h3{ font-size: 15px; }

.titulo hr{
  border: none;
  height: 1px;
  width: 40%;
}

.hr1{background-image: linear-gradient(to left, rgba(231,0,11), rgb(41, 0, 3));}

.hr2{background-image: linear-gradient(to right, rgba(231,0,11), rgb(41, 0, 3));}

.cards{
  display: flex;
  justify-content: space-evenly;
  padding-top: 45px;
}

.button2 button{
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #e7000b;
  border: 1px solid #e7000b;
  text-align: center;
}

.model svg{ color: #e7000b;}

.button2{ display: flex; justify-content: center;}


.seccion3{
  background-color: #000000;
  padding: 80px 0;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.seccion3-img{
  border-radius: 12px;
  width: auto;
  height: 710px;
}

.contenido-s2{ color: white; align-items: center;}

.contenido-s2 h4, .contenido-s2 h3{
  margin: 0;
}

.contenido-s2 h4{
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 13px;
  color: #e7000b;
}

.contenido-s2 h3{ font-weight: 100;font-size: 47px;}

.contenido-s2 p{ font-size: 18px; color: #959dab;}

.info-card{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.seccion4{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.91), rgba(152, 41, 41, 0.504)),
  url('/assets/fondo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  gap: 35px;
  color: white;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion4 h3{ font-weight: lighter; font-size: 41px;}

.text h3, .text p{ text-align: center; margin: 0;}

.card-form{
  background-color: rgba(23, 25, 38, 0.947);
  flex-direction: column;
  border-radius: 22px;
  border: 2px solid #252d3b;
  display: flex;
  padding: 35px 70px;
  gap: 30px;
}

.form{ display: flex; gap: 30px;}

form{
  flex-direction: column;
  display: flex;
  gap: 40px;
}

.colum1{
  flex-direction: column;
  display: flex;
  gap: 8px;
}

input{
  background-color: #0b0d14;
  border: 1px solid #252d3b;
  border-radius: 6px;
  font-size: 15px;
  padding: 10px 12px;
  width: 380px;
}

.line{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.line button{
  background-color: #e7000b;
  border: none;
  padding: 14px;
  color: white;
  font-size: 16px;
  width: 840px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
}

.line hr{ border: 1px solid #1f2b41; width: 100%;}

.botones{
  justify-content: space-between;
  display: flex;
}

.button1{
  align-items: center;
  display: flex;
  gap: 12px;
}

.button1 h4, .button1 p{margin: 0;}
