<app-header></app-header>

<div class="accesorios-container">
  <h2 class="titulo">Lista De <span>Accesorios</span></h2>

  <div class="grid-accesorios">
    <div class="card-accesorio" *ngFor="let a of accesorios">


      <div class="card-body">

        <span class="categoria">ACCESORIOS</span>

        <h3 class="nombre">{{ a.nombre }}</h3>

        <p class="descripcion">
          {{ a.descripcion }}
        </p>

        <div class="rating">
          ⭐⭐⭐⭐⭐ <span class="reviews">(152)</span>
        </div>

        <div class="precios">
          <span class="precio-final">€{{ a.precio }}</span>
        </div>

        <button class="btn-carrito">Añadir al Carrito</button>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
