div{
  padding: 10px;
  background-color: rgb(76, 76, 76);
}

nav{
  display: flex;
  justify-content: space-around;
}

button{
  background-color: #e7000b;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
