<p>user-header works!</p>
<nav>
  <h1>MOTO<span>ELITE</span></h1>
  <button  class="menuH">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" color="white" background-color="transparent" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
  </button>

  <ul>
    <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/user/modelos" routerLinkActive="active">Modelos</a></li>
    <li><a routerLink="/user/accesorios" routerLinkActive="active">Accesorios</a></li>
    <li><a routerLink="/user/carrito" routerLinkActive="active">Carrito</a></li>
  </ul>
</nav>
