<app-header></app-header>

<div class="register-container">
  <h2>Registro de Usuario</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="register-form">
    <input type="text" formControlName="username" placeholder="Usuario" />
    <input type="email" formControlName="email" placeholder="Correo electrónico" />
    <input type="password" formControlName="password" placeholder="Contraseña" />
    <input type="date" formControlName="fechaNa" placeholder="Fecha de nacimiento" />

    <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
  </form>
</div>
